# MongoDB
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DB=

# Backend
MONGO_URI=

# JWT
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback

# Frontend
VITE_API_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
